.gamerName{
	width: 100%;
	height: 10%;
	color: black;
}
.gamerName p{
	margin: 0 0 0 10px;
	padding: 0;
	font-size: 30px;
	text-align: center;
}
.bestShooters{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 65%;
	font-size: 30px;
}
.shootersTitle{
	width: 100%;
	max-height: 20%;
	font-size: 0.7em;
	text-align: center;
	color: black;
}
.shooter{
	width: 100%;
	font-size: 0.5em;
	margin: 1px;
	background-position: center;
	background-size: 100% 100%;
	border: 1px solid #3d211e;
	border-radius: 5px;
	box-sizing: border-box;
	color: black;
	height: calc(100%/10 - 2px);
	line-height: 30px;
}
.shooter p{
	margin: 0 5px;
}
.btnRecordTable{
	text-align: center;
}
.btnRecordTable:hover{
	cursor: pointer;
}