.timer{
	display: flex;
	height: 15%;
	width: 100%;
	color: black;
}
.timer p {
	font-size: 1.5em;

}
.bank{
	height: 15%;
	width: 100%;
	font-size: calc((100vw - 1024px)/(1920 - 1024) * (40 - 25) + 25px);
	color: black;
	text-align: center;
}
.bullets{
	height: 30%;
	width: 100%;
	visibility: hidden;
}
.bullet{
	display: inline-block;
	width: 10px;
	height: 30px;
	float: left;
	margin: 1px;
	background-image: url("../img/bullet/bullet.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.gun{
	height: 40%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 65%;
	background-image: url("../img/bullet/gun_6.svg");
	visibility: hidden;
}
.hole{
	position: absolute;
	width: 30px;
	height: 30px;
	background-position: center;
	background-size: cover;
}
.hole-kill{
	border-radius: 50%;
	box-shadow: 0 0 15px 5px crimson;
}
