.myModal{
	width: 500px;
	height: 250px;
	border: 2px solid black;
	margin: auto;
	background-image: url("../img/background/wild-west.jpg");
	background-size: 100% 100%;
	font-family: 'Western Dead';
	font-size: 30px;
	text-align: center;
}
p{
	margin-top: 40px;
}
.row-modal-1{height: 30%;}
.row-modal-2{height: 40%;}
.corner-modal{
	background-size: contain;
	background-image: url("../img/patterns/vintage_corner2.svg");
	background-repeat: no-repeat;
}
.corner-modal--r-t {
	transform: rotate(180deg);
	transform: scaleX(-1);
}
.corner-modal--l-b{
	transform: scaleY(-1);
}
.corner-modal--r-b{
	transform: rotate(180deg);
}
.inputModal{
	height: 40px;
	width: 250px;
	background-color: rgb(142, 72, 28);
	font-family: 'Western Dead';
	font-size: 25px;
	margin: 0 0 5px auto;
	padding: 0;
	border: 1px solid black;
}
.btn-modal{
	height: 40px;
	width: 70px;
	padding: 0;
	margin: 0;
	background-color: rgb(142, 72, 28);
	background-size: contain;
	background-position: center;
	background-image: url("../img/other/btn-gun.svg");
	background-repeat: no-repeat;
}