.title{
	font-family: Western Dead;
	font-size: 4em;
	text-align: center;
	color: black;
}
.top-gun-left{
	background-image: url("../img/other/shotgun.svg");
	background-position: top;
	background-repeat: no-repeat;
}
.top-gun-right{
	background-image: url("../img/other/shotgun.svg");
	transform: scaleX(-1);
	background-position: top;
	background-repeat: no-repeat;
}