.startModal{
	position: absolute;
	width: 450px;
	height: 250px;
	border: 2px solid black;
	margin: 0 auto;
	background-image: url("../../img/background/wild-west.jpg");
	background-size: 100% 100%;
	font-size: 25px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	z-index: 30;
	top: calc(50vh - 125px);
	left: calc(50vw - 225px);
	color: black;
}
.startModal p{
	margin: 0;
}
.row-modal-1{height: 20%;}
.row-modal-2{height: 40%;}
.corner-modal_start{
	background-size: contain;
	background-image: url("../../img/patterns/vintage_corner2.svg");
	background-repeat: no-repeat;
}
.latinFont{
	font-size: 18px;
	margin-top: -10px;
}
.corner-modal_start--r-t {
	transform: rotate(180deg);
	transform: scaleX(-1);
}
.corner-modal_start--l-b{transform: scaleY(-1);}
.corner-modal_start--r-b{transform: rotate(180deg);}
.inputModal{
	display: inline-block;
	height: 40px;
	width: 200px;
	background-color: rgb(142, 72, 28);
	font-size: 25px;
	margin: 0 0 5px 70px;
	border: 1px solid black;
	padding-left: 10px;
}
.btnModal{
	height: 40px;
	width: 70px;
	padding: 0;
	margin-bottom: 5px;
	background-color: rgba(142, 72, 28, 0.6);
	background-size: contain;
	background-position: center;
	background-image: url("../../img/other/btn-gun.svg");
	background-repeat: no-repeat;
}
/*убираем обводку*/
.btnModal:active, .btnModal:hover, .btnModal:focus {
	outline: 0;
	outline-offset: 0;
}

.activeStartModal{
	 opacity: 1;
	 visibility: visible;
 }
.overlayModal{
	opacity: 0.8;
	visibility: visible;
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	transition: all 0.3s;
}
